
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, #container {
	background-image: url("../img/bg-light.png");
}

a {
	color:#BF3330;
	border-bottom: 1px dotted #BF3330;
	line-height: .5em;
	text-decoration: none;
}

a:hover {
	color:#A60400;
	text-shadow:1px 0px #FFFE73;
	text-shadow: 1px 1px #EEE;
	text-decoration: none;
	border-bottom: 1px solid #BF3330;
}

p, li, div {
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Ubuntu Mono', sans-serif;
	font-family: 'Economica', sans-serif;
	font-family: 'Bitter', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Cuprum', sans-serif;
	font-family: 'Cabin', sans-serif;
	font-size:15px;
	text-shadow:1px 1px #fff;
	line-height:1.6em;
}

pre {
	background-color:#FFF;
}

#container {
	overflow:auto;
}

#top-border {
	border-top:#555 5px solid;
	width:100%;
	position:fixed;
	z-index:50;
	box-shadow: 0px -2px 10px #333;
}

#menu {
	left:436px;
	top:5px;
	z-index: 55;
	position: fixed;
	overflow:auto;
	padding:0px;
	box-shadow: 0px 0px 10px #555;
}

#menu ul {
	padding:0px;
	margin:0px;
}

#menu li {
	list-style: none;
	display:block;
	float:left;
	margin:0px;
}

#menu li a {
	margin:0px;
	background-color:#555;
	font-size:24px;
	font-weight:bold;
	margin:0px;
	display:block;
	padding:14px 26px 18px 26px;
	border:none;

	color:#FFF;
	text-shadow: 1px 0px #FF0700;
}

#left-rail {
	width:400px;
	float:left;
	position: fixed;
	z-index:51;
}

#main {
	position: relative;
	max-width:800px;
	min-width:500px;
	display:inline-block;
	clear:none;
	margin-left:400px;
}

#spacer {
	width:100%;
	height:30px;
}

#left-rail h2 {
	text-align: right;
	padding: 20px 0px 0px 0px;
	margin:0px;
	text-shadow: 2px 2px #FFF;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px #FFF;
	font-size:28px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px #FFF;
	font-size:22px;
	color:#A60400;
}

.version {
	text-align:right;
	padding: 5px 0px 5px 0px;
	color:#888;
	color:#A60400;
	text-shadow: 1px 1px #FFF;

	font-family: 'Open Sans', sans-serif;
	opacity: .6;
	font-size:16px;
}

#left-rail p {
	text-align:right;
	font-size:16px;
	text-shadow:1px 1px #FFF;
	padding:10px 0px 0px 10px;
}

#left-rail div.right {
	text-align:right;
}

#enforcer {
	width:400px;
	height:1px;
	float:left;
	position: relative;
}

#main section {
	position: relative;
	padding: 20px 60px 0px 60px;
}

#main section p {
	line-height: 1.6em;
	font-size:16px;
}

h1 {
	font-family: 'Knewave', cursive;
	font-family: 'Economica', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;



	font-family: 'Ubuntu Mono', sans-serif;
	margin:0px 0px 40px -37px;

	font-family: 'Open Sans', sans-serif;
	margin:6px 0px 40px -12px;

	font-weight: bold;
	font-style: italic;
	font-size:100px;
	color:#A60400;
	text-shadow: 3px 3px #FFF, 3px 0px #FFF, 3px -1px #FFF;

	
	padding:0px;
}

h1 span {
	color:#555;
}

footer {
	box-shadow: 0px 2px 10px #333;
	background-color:#A60400;
	color:#FF7673;
	border-top:5px solid #FF0700;
	padding: 20px;
	margin:30px 0px 0px 0px;
	overflow:auto;
}

footer p, footer div {
	color:#FFF;
	color:#FF7673;
	text-shadow: 1px 1px rgba(0,0,0,.3);
}

footer a {
	color:#FFF;
	border:none;
	text-shadow:1px 1px #000;
}

footer a:hover {
	color:#FFF;
	border:none;
	text-decoration: underline;
	text-shadow:1px 1px #000;
}

footer .left {
	width:380px;
	padding-right:60px;
	float:left;
	text-align: right;
}

footer .right {
	float:left;
	min-width:400px;
}

.uppercase {
	text-transform: uppercase;
}

.two-column {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}

.three-column {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:2;
}

@media all and (max-width: 899px) {
  #left-rail {
  	position:relative;
  	float:left;
  	width:auto;
  	padding: 0px 50px 0px 0px;
  }

  #main {
  	margin-left:0px;
  	min-width:200px;
  }
}

@media all and (max-width: 500px) {
	h1 {
		font-size:70px;
	}
	h2 {
		font-size:20px;
	}
	h3 {
		font-size: 18px;
	}
	#left-rail {
		padding: 0px 20px 0px 0px;
	}
	#main section {
		padding: 10px 20px 0px 20px;
	}
}










